/* .app-text {
  text-align: center;
  color: white;
  margin: 50px 0 0 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 50px 0 0 0;
}
.cat {
  width: 150px;
  height: 100px;
}
.firstBlock {
  border: 1px solid #1698d9;

  color: black;
  background-color: white;

  margin: 0 50px 0 0;
  padding: 10px;
}
.firstBlock-two {
  border: 1px solid red;

  color: black;
  background-color: white;

  margin: 0 50px 0 0;
  padding: 10px;
}
.secondBlock {
  border: 1px solid #1698d9;
  color: black;
  background-color: white;

  margin: 0 50px 0 0;
  padding: 10px;
}
.thirdBlock {
  border: 1px solid #1698d9;
  color: black;
  background-color: white;
  padding: 10px;
}
.image {
  display: flex;
}
.circle {
  background: #1698d9;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
} */
.wpapper {
  display: flex;
  padding: 40px;
  margin: 0 0 0 110px;
}
.titleText {
  text-align: center;
  color: #ffffff;
  margin: 10px 0 0 0;
  font-weight: 200;
}
